@page
@model CSharpCoolFeatures.Pages.IndexerModel
@{
}

<h2>Indexer</h2>

<h3>@Model[2]</h3>

<h4>
    Are used to access elements with the [] syntax. They therefore need to contain a collection from which with the []
    syntax elements are retrieved. They work like properties as they have a getter and setter defined. The @("List<T>") Type is 
    a famous example of a type using an indexer. 
</h4>