@page
@model CSharpCoolFeatures.Pages.RefLocalModel
@{
}

<h2>Ref Local</h2>

<h3>@Model.integers.ToList().IndexOf(Model.integers.Max())</h3>

<h4>You can only return refs that are “safe to return”: Ones that were passed to you, and ones that point into fields in objects</h4>
<h4>Their value consists of a reference to the value type encapsulated by an object on the heap</h4>