@page
@model CSharpCoolFeatures.Pages.RefLocalModel
@{
}

<h2>Ref Local</h2>

<h4>You can only return refs that are “safe to return”: Ones that were passed to you, and ones that point into fields in objects</h4>
