@page
@model CSharpCoolFeatures.Pages.RefStructModel
@{
    ViewData["Title"] = "Ref struct";
}

<h2>Ref Struct</h2>

<h4>New Type => They can only live on the stack</h4>

<ul class="list-group">
    <li class="list-group-item">No Heap allocation means fewer memory usage</li>
    <li class="list-group-item">They can only be instantiated inside a method</li>
    <li class="list-group-item">Popular structs are @("Span<T>") and @("ReadonlySpan<T>")<T></li>
</ul>
